* {
    font-family: 'Roboto', sans-serif;
}
body{
height: 100vh;
box-sizing: content-box;
}

.all{
    background-image: url(./img/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    height: 100%;
}

button{
    margin: 165px;
}